<!DOCTYPE html>
<html>
<head>
  <title>NotamParserApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="starter-template">
      <h1>NOTAM parser</h1>
      <%= yield %>
    </div>
  </div><!-- /.container -->
</body>
</html>
